@page "/"
@layout MainLayout

<h1>Cieszymy się, że jesteś z nami!</h1>
<br/><br/><br/>
<p>Przeglądaj zarejestrowanych zawodników i wystawiaj opinie lekarskie na temat ich zdrowia. Wyświetlaj wystawione opinie lekarskie.</p>
<br/><br/><br/>
<h1>Gotowy?</h1>